 
body {
         font-family: sans-serif;
         font-size:26px;
         background: #4E00CC    ;
         color: #55D9D2  ;
 }
 
 a {
 color:#DE6510;
 }
 
       .nav  {
            position:fixed;
            margin:0;
            padding0;
  }          
  
        .nav li {
            list-style-type:none;
  }          
 
       .content  {
            height:10000px;
            width:500px;
            background:#4552D9;
            margin-left:200px;
  }
        .about  {
            height:10000px;
            width:1000px;
            background:#F00509;
            margin-left:150px;
  }