 
body {
         font-family: sans-serif;
         font-size:26px;
         background: #453E41    ;
         color: #FAAF00 ;
 }
 
 a {
 color:#D2D665;
 }
 
       .nav  {
            position:fixed;
            margin:0;
            padding0;
  }          
  
        .nav li {
            list-style-type:none;
  }          
 
       .content  {
            height:1500px;
            width:500px;
            background:#FAF2F5;
            margin-left:200px;
  }
        .about  {
            height:1500px;
            width:1000px;
            background:#050505;
            margin-left:150px;
  }